body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

.bulletin{
    max-width: 800px;
}

line {
  stroke:rgb(0,0,0);
  stroke-width:2;
}

polyline {
  stroke:rgb(0,0,0);
  stroke-width:2;
  fill:none;
}
